<div class="container wrapper">
  <div class="spin">
    <img src="./../assets/CBB.png" class="img-fluid" alt="">
  </div>
  <div class="row nav-menu">
    <div class="col">
      <div style="text-align:center">
        <a routerLink="/list" class="btn btn-circle d-flex justify-content-center align-items-center" style="background-color: #32924b">
          <fa-icon [icon]="faCocktail" size="lg" [styles]="{'stroke': 'red', 'color': '#fff'}"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center">
        <a routerLink="/game" class="btn btn-circle d-flex justify-content-center align-items-center" style="background-color: #0089ba">
          <fa-icon [icon]="faPlay" size="lg" [styles]="{'stroke': 'red', 'color': '#fff'}"></fa-icon>
        </a>
      </div>
    </div>
    <div class="col">
      <div style="text-align:center">
        <a routerLink="/" class="btn btn-circle d-flex justify-content-center align-items-center" style="background-color: #ffc75f">
          <fa-icon [icon]="faMap" size="lg" [styles]="{'stroke': 'red', 'color': '#fff'}"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</div>
